 body {
    font-family: 'Noto Sans', sans-serif;
    background: #f2f2f2;
 }

#navitemRef .nav-link{
    font-weight: 500;
    color: #616161;
    text-transform: uppercase;
    transition: color 300ms;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

#navitemRef .nav-link:hover{
    color: #004225;
    
}

section {
    margin-top: 100px;
}


.site-title {
    font-weight: 700;
    color: #004225;
}

.green-bg {
    background-color: #004225;
}

.green-bg:hover, 
.light-bg:hover {
    background-color: #1E4D2B;
}

.light-bg {
    background-color: beige;
    border: 1px solid #004225;
}


@media (min-width: 768px) and (max-width: 991px) {
    #heroText p {
        font-size: 1rem;
    }

    #heroText h1 {
        font-size: 1rem;
    }

    #heroText h2 {
        font-size: 1rem;
    }
}

